.input-event {
    text-align: center;
}

.events-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.events-list li {
    width: 500px;
    border: 1px solid black;
    margin: 1em 0 0 0;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul.events-list li .title {
    margin: 0;
}

ul.events-list li span.meta {
    font-size: 0.8rem;
}