.navbar {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    padding: 0 1rem;
    height: 3.5rem;
    width: 100%;
    background: rgb(47, 47, 47);
    align-items: center;
    justify-content: space-between;
}

.navbar__logo h1{
    margin: 0;
    font-size: 1.5rem;
    color: #e0bc05;
}

.navbar__items {
    margin: 0 1.5rem;
}

.navbar__items > ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__items li {
    margin: 0 0.5rem;
}

.navbar__items li a {
    text-decoration: none;
    color: #e0bc05;
    padding: 0.2em 0.7em;
}

.navbar__items li a:hover,
.navbar__items li a:active,
.navbar__items li a.active {
    background: #e0bc05;
    color: #2f2f2f;
    border-radius: 5px;
}   